<footer>
    <div class="scroll-container">        
        <div class="scroller scroll-l-6">
            <svg viewBox="0 0 240 100" preserveAspectRatio="none" class="scroll">
                <path d="M0,0
                c20 0, 40 80, 60 80
                s40 -80, 60 -80
                s40 80, 60 80
                s40 -80, 60 -80
                Z" style="stroke: none; fill:#ffffff66;"></path>
            </svg>
            <svg viewBox="0 0 240 100" preserveAspectRatio="none" class="scroll">
                <path d="M0,0
                c20 0, 40 80, 60 80
                s40 -80, 60 -80
                s40 80, 60 80
                s40 -80, 60 -80
                Z" style="stroke: none; fill:#ffffff66;"></path>
            </svg>
        </div>

        <div class="scroller scroll-r-5">
            <svg viewBox="0 0 120 80" preserveAspectRatio="none" class="scroll">   
                <path d="M0,0
                c20 0, 40 80, 60 80
                s40 -80, 60 -80
                Z" style="stroke: none; fill:#ffffff66;"></path>
            </svg>
            <svg viewBox="0 0 120 80" preserveAspectRatio="none" class="scroll">
                <path d="M0,0
                c20 0, 40 80, 60 80
                s40 -80, 60 -80
                Z" style="stroke: none; fill:#ffffff66;"></path>
            </svg>
        </div>

        <div class="scroller scroll-r-12">
            <svg viewBox="0 0 240 120" preserveAspectRatio="none" class="scroll">
                <path d="M0,0
                c10 0, 50 80, 60 80
                s50 -80, 60 -80
                s50 80, 60 80
                s50 -80, 60 -80
                Z" style="stroke: none; fill:#ffffff66;"></path>
            </svg>
            <svg viewBox="0 0 240 120" preserveAspectRatio="none" class="scroll">
                <path d="M0,0
                c10 0, 50 80, 60 80
                s50 -80, 60 -80
                s50 80, 60 80
                s50 -80, 60 -80
                Z" style="stroke: none; fill:#ffffff66;"></path>
            </svg>
        </div>
    </div>
</footer>