<h1>What we do</h1>
<div class="services">
    <div class="service">
        <span class="service-name">Software Development</span>
        <span class="service-description">With yours of professional experience, we are happy to implement software specifically tailered for your requirements</span>
    </div>
    <div class="service">
        <span class="service-name">Solution Architecture</span>
        <span class="service-description">Ensuring long-term maintainability and scalability of your software with clean and well-planned architecture</span>
    </div>
    <div class="service">
        <span class="service-name">Leadership & Coordination</span>
        <span class="service-description">We help to keep your processes development efficient by fostering a lean and agile mindset in your teams</span>
    </div>
    <div class="service">
        <span class="service-name">Review & Consulting</span>
        <span class="service-description">Whenever you need an opinion or professional input on existing projects, we can help</span>
    </div>
</div>