@import url("../../definitions.less");

.services {
    display: grid;
}

.service {
    text-align: center;


    background-color: @background-color;
    background: linear-gradient(0deg, @background-color-monochromatic 0%, @background-color 20%);


    border: 2px solid @main-color;
    border-radius: 10px;

    padding: 10px;
    margin: 10px;

    &:nth-child(2) {
        @media only screen and (min-width: 600px) {
            grid-column: 2;
        }
    }

    transition: transform .2s;
    &:hover {
        transform: scale(1.05);
    }
}

.service-name {
    display: block;
    font-size: 1.2em;
    margin: 10px;
}

.service-description {
    margin: 10px;
    display: inline-block;
}