@import url("../../definitions.less");

.pre-services, .post-services {
    display: block;
    height: 70px;
    width: 100%;
}

.services {
    background-color: @background-color-complementary;
    overflow: hidden;
    padding-bottom: 50px;
}

.service-container {
    display: grid;
}

.service {
    text-align: center;

    background-color: @background-color;

    border-radius: 10px;

    padding: 10px;
    margin: 10px;

    &:nth-child(2) {
        @media only screen and (min-width: 600px) {
            grid-column: 2;
        }
    }

    transition: background-color .2s;

    &:hover {
        background-color: darken(@background-color, 10%);
    }

    &:nth-child(odd) {
        margin-left: -5000px;
        padding-left: 5000px;
    }

    &:nth-child(even) {
        margin-right: -5000px;
        padding-right: 5000px;
    }
}

.service-name {
    display: block;
    font-size: 1.2em;
    margin: 10px;
}

.service-description {
    margin: 10px;
    display: inline-block;
}