<svg class="pre-services" viewBox="0 0 200 100" preserveAspectRatio="none">
    <path d="M0,50
    C10 35, 30 0, 50 0
    C70 0, 130 100, 150 100
    C170 100, 190 65, 200 50
    L200,100
    L0,100
    Z" style="stroke: none; fill:#FABC55;"></path>
</svg>
<div class="services">
    <h1>What we do</h1>
    <div class="service-container content-container">
        <div class="service">
            <h3 class="service-name">Software Development</h3>
            <span class="service-description">With yours of professional experience, we are happy to implement software specifically tailered for your requirements</span>
        </div>
        <div class="service">
            <h3 class="service-name">Solution Architecture</h3>
            <span class="service-description">Ensuring long-term maintainability and scalability of your software with clean and well-planned architecture</span>
        </div>
        <div class="service">
            <h3 class="service-name">Leadership & Coordination</h3>
            <span class="service-description">We help to keep your processes development efficient by fostering a lean and agile mindset in your teams</span>
        </div>
        <div class="service">
            <h3 class="service-name">Review & Consulting</h3>
            <span class="service-description">Whenever you need an opinion or professional input on existing projects, we can help</span>
        </div>
    </div>
</div>
<svg class="post-services" viewBox="0 0 200 100" preserveAspectRatio="none">
    <path d="M0,50
    C10 35, 30 0, 50 0
    C70 0, 130 100, 150 100
    C170 100, 190 65, 200 50
    L200,0
    L0,0
    Z" style="stroke: none; fill:#FABC55;"></path>
</svg>