<div class="pre-services scroll-container">        
    <div class="scroller scroll-l-10">
        <svg class="scroll" viewBox="0 0 200 100" preserveAspectRatio="none">
            <path d="M0,50
            C10 35, 30 0, 50 0
            C70 0, 130 100, 150 100
            C170 100, 190 65, 200 50
            L200,100
            L0,100
            Z" style="stroke: none; fill:#ADFC92;"></path>
        </svg>
        <svg class="scroll" viewBox="0 0 200 100" preserveAspectRatio="none">
            <path d="M0,50
            C10 35, 30 0, 50 0
            C70 0, 130 100, 150 100
            C170 100, 190 65, 200 50
            L200,100
            L0,100
            Z" style="stroke: none; fill:#ADFC92;"></path>
        </svg>
    </div>
</div>
<div class="services">
    <h1>What we do</h1>
    <p class="content-container">
        At px-net, we specialize in developing <b>custom software applications</b> tailored
        to meet your unique needs.  We work closely with our clients to understand
        your requirements and deliver high-quality solutions that meet your specific needs.
    </p>
    <div class="service-container content-container">
        <div class="service">
            <h3 class="service-name">Software Development</h3>
            <span class="service-description">With yours of professional experience, we are happy to implement software specifically tailered for your requirements</span>
        </div>
        <div class="service">
            <h3 class="service-name">Solution Architecture</h3>
            <span class="service-description">Ensuring long-term maintainability and scalability of your software with clean and well-planned architecture</span>
        </div>
        <div class="service">
            <h3 class="service-name">Leadership & Coordination</h3>
            <span class="service-description">We help to keep your processes development efficient by fostering a lean and agile mindset in your teams</span>
        </div>
        <div class="service">
            <h3 class="service-name">Review & Consulting</h3>
            <span class="service-description">Whenever you need an opinion or professional input on existing projects, we can help</span>
        </div>
    </div>
</div>
<div class="post-services scroll-container">        
    <div class="scroller scroll-r-10">
        <svg class="scroll" viewBox="0 0 200 100" preserveAspectRatio="none">
            <path d="M0,50
            C10 35, 30 0, 50 0
            C70 0, 130 100, 150 100
            C170 100, 190 65, 200 50
            L200,0
            L0,0
            Z" style="stroke: none; fill:#ADFC92;"></path>
        </svg>
        <svg class="scroll" viewBox="0 0 200 100" preserveAspectRatio="none">
            <path d="M0,50
            C10 35, 30 0, 50 0
            C70 0, 130 100, 150 100
            C170 100, 190 65, 200 50
            L200,0
            L0,0
            Z" style="stroke: none; fill:#ADFC92;"></path>
        </svg>
    </div>
</div>