@main-color: #1976d2;
@main-color-monochromatic: #378FE7;
@main-color-complementary: spin(@main-color, 180);

@background-color: #78BCFA;
@background-color-monochromatic: #3690E8;
@background-color-complementary:  #FABC55;

@element-color: darken(@main-color, 20%);
@background-text-color: #dddddd;
@image-background-color: #dddddd;

@text-color: #222222;
@max-content-width: 960px;