@main-color: #1976d2;
@main-color-monochromatic: #378FE7;
@main-color-complementary: spin(@main-color, 180);

@background-color: #78BCFA;
@background-color-accent1:  #ADFC92;
@background-color-accent2:  #F5CDA7;

@element-color: darken(@main-color, 20%);
@background-text-color: #dddddd;
@image-background-color: #dddddd;

@text-color: #222222;
@max-content-width: 960px;