<h1>Who we are</h1>
<div class="team-member-container">
    <div class="member">
        <h2>Max Muster</h2>
        <div class="photo"></div>
        <div class="special">
            <img src="../../assets/azure.svg">
            <img src="../../assets/jenkins.svg">
            <img src="../../assets/spring.svg">
            <img src="../../assets/openshift.svg">
        </div>
    </div>
    <div class="member">
        <h2>John Doe</h2>
        <div class="photo"></div>
        <div class="special">
            <img src="../../assets/spring.svg">
            <img src="../../assets/vue.svg">
            <img src="../../assets/android.svg">
            <img src="../../assets/openshift.svg">
        </div>
    </div>
</div>