<h1>Who we are</h1>
<div class="team-member-container content-container">
    <div class="member">
        <h2>Felix Bauer</h2>
        <div class="photo">
            <img src="../../assets/felix.png">
        </div>
        <div class="special">
            <div class="special-item">
                <img src="../../assets/azure.svg" alt="Microsoft Azure">
                <span class="tooltip">Azure</span>
            </div>
            <div class="special-item">
                <img src="../../assets/jenkins.svg">
                <span class="tooltip">Jenkins</span>
            </div>
            <div class="special-item">
                <img src="../../assets/spring.svg">
                <span class="tooltip">Spring</span>
            </div>
            <div class="special-item">
                <img src="../../assets/openshift.svg">
                <span class="tooltip">Openshift</span>
            </div>
        </div>
        <p>
            Hi, I'm Felix, an <b>experienced software developer</b> and DevOps specialist.
        </p>
        <p>
            As a <b>DevOps specialist</b>, I ensure smooth development, testing, and deployment
            processes - whether this is in an Azure environment or a local VM.
        </p>
        <p>
            I am proficient in Java and C#, with a focus on <b>optimizing application performance</b>
            and implementing <b>security measures</b>.
        </p>
    </div>
    <div class="member">
        <h2>John Doe</h2>
        <div class="photo">
            <img src="../../assets/felix.png">
        </div>
        <div class="special">
            <div class="special-item">
                <img src="../../assets/spring.svg">
                <span class="tooltip">Spring</span>
            </div>
            <div class="special-item">
                <img src="../../assets/vue.svg">
                <span class="tooltip">Vue</span>
            </div>
            <div class="special-item">
                <img src="../../assets/android.svg">
                <span class="tooltip">Android</span>
            </div>
            <div class="special-item">
                <img src="../../assets/openshift.svg">
                <span class="tooltip">Openshift</span>
            </div>
        </div>
        <p>
            My name is John, and I am experienced in <b>frontend development</b> specializing
            in Android and different JavaScript frameworks.
        </p>
        <p>
            With experience in <b>Android</b> and Kotlin, I am skilled in developing native mobile
            applications.
        </p>
        <p>
            As a frontend developer, I use different JavaScript frameworks like React, Vue.js,
            and Angular to build <b>dynamic and interactive user interfaces</b>.
        </p>
    </div>
</div>