<h1>Who we are</h1>
<div class="team-member-container content-container">
    <div class="member">
        <h2>Max Muster</h2>
        <div class="photo">
            <img src="../../assets/felix.png">
        </div>
        <div class="special">
            <div class="special-item">
                <img src="../../assets/azure.svg" alt="Microsoft Azure">
                <span class="tooltip">Azure</span>
            </div>
            <div class="special-item">
                <img src="../../assets/jenkins.svg">
                <span class="tooltip">Jenkins</span>
            </div>
            <div class="special-item">
                <img src="../../assets/spring.svg">
                <span class="tooltip">Spring</span>
            </div>
            <div class="special-item">
                <img src="../../assets/openshift.svg">
                <span class="tooltip">Openshift</span>
            </div>
        </div>
    </div>
    <div class="member">
        <h2>John Doe</h2>
        <div class="photo">
            <img src="../../assets/felix.png">
        </div>
        <div class="special">
            <div class="special-item">
                <img src="../../assets/spring.svg">
                <span class="tooltip">Spring</span>
            </div>
            <div class="special-item">
                <img src="../../assets/vue.svg">
                <span class="tooltip">Vue</span>
            </div>
            <div class="special-item">
                <img src="../../assets/android.svg">
                <span class="tooltip">Android</span>
            </div>
            <div class="special-item">
                <img src="../../assets/openshift.svg">
                <span class="tooltip">Openshift</span>
            </div>
        </div>
    </div>
</div>